<html>
    <head>
        <h2>Twitter Bootstrap Template</h2>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <style>
        body{
            padding-top: 60px; 
        }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">project Name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="btn-default dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Some other action</a></li>
                                <li class="divider"></li> 
                                <li class="nav-header"></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">Another separated link</a></li>
                            </ul>
                        </li>
                        </ul>
                        <form class="navbar-form pull-right">
                            <input class="span2" type="email" placeholder="EmailId">
                            <input class="span2" type="password" placeholder="password">
                            <button class="btn" type="submit" href="#">sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
                <div class="hero-unit">
                    <div class="row">
                        <h1>welcome to twitter bootstrap</h1>
                        <p>This is one Template. each divition has multiple classes like containers,rows,cols,nav.<br>
                        span is used to split one row into multiple parts like cols. span has offset property used to move<br>
                        the span towards right size of the device.
                        </p>
                        <a href="#" class="btn">Learn more</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <h2>Heading 1</h2>
                        <p>
                            This Heading size is 30px. this heading is declared insize of span4<br>
                            the span located at one row. this row has three span4 classes.<br>
                            <b><i>First span</i></b>
                        </p>
                        <p>
                            <a href="#" class="btn">view more</a>
                        </p>
                    </div>
                    <div class="span4">
                        <h2>Heading 2</h2>
                        <p>This Heading size is 30px.Each header has sub-header class also<br>
                        <b><i>Second span</i></b>
                        </p>
                        <p>
                            <a href="#" class="btn">view more</a>
                        </p>
                    </div>
                    <div class="span4">
                        <h2>Heading 3</h2>
                        <p>
                            This Heading size also 30px. this span is last span in this row<br>
                            because each row has only span12.<br><b><i>Third span</i></b>
                        </p>
                        <p>
                            <a href="#" class="btn">view more</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <h3>Heading 1</h3>
                        <p>This row has two spans. this span header size is 24px.<br>
                        <b><i> first span6</i></b>
                        </p>
                        <p>
                            <a href="#" class="btn">view more</a>
                        </p>
                    </div>
                    <div class="span6">
                        <h3>Heading 2</h3>
                        <p>this header size is 24px<br>
                            <b><i> second span6</i></b>
                        </p>
                        <p>
                            <a href="#" class="btn">view more</a>
                        </p>
                    </div>
                </div> 
            </div>
    </body>
</html>