<html>
    <head><title>simple-templates</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Templates using bootstrap</h1>
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet" >
    <link href="../../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
        body{
            padding-top: 50px;
            padding-left: 20px;
        }
    </style>
    </head>
<body>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle:"collapse" data-target:".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">list</a>
                    <div class="nav-collapse collapse">
                        <button type="button" class="btn"><a href="#">menu</a></button>
                    <ul class="nav">
                        <li class="active"><a href="#">home</a></li>
                        <li><a href="#">about</a></li> 
                        <li><a href="#">help</a></li> 
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h4>welcome to the bootstrap container class(heading tag)</h4>
            <p>The bootstrap template design using containers,navigation bar and some other bootstrap classes(page tag)<br>This page written by bhava</p>
            <div class="row show grid">
                    <p>total span size=12.<br>example of span box sizes are given below: </p>
                    <div class="span2" style="background-color: crimson">box1</div>
                    <div class="span2" style="background-color: blueviolet">box2</div>
                    <div class="span3" style="background-color:palevioletred">box3</div>
                    <div class="span4" style="background-color:palevioletred">box4</div>
            </div>
        </div>
        <div>
            <div class="dropdown"
        </div>
    </div>
</body>
</html>
